*{
    margin: 0;
    padding: 0;
    list-style: none;
}

html{
    max-height: 1024px;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    height: 8vh;
}

nav li{
    display: flex;
    flex-direction: row;

}

.logo{
    display: flex;
    align-items: center;
    margin-left: 3%;
    font-size: 30px;
}

.headerlinks{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    text-decoration: none;
}
.headerlinks a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-family:sans-serif;
    font-weight: bold;
}

body{
    background-image: url(movies.jpg);
}

main{
    display: flex;
    height: 1024px;
    background-color: rgba(12, 12, 12, 0.226)

}

.headerForm{
    position: absolute;
    top: 300px;
    font-size: 60px;
}

.form{
    display: table-row;
    border: 1px solid;
    margin: 5%;
    font-size: 25px;
}

.formCon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    width: 100%;
    border: 2px solid rgba(177, 180, 177, 0.479);
    background-color: rgba(82, 81, 81, 0.164);

}

label, input {
    display: table-cell;
    margin-bottom: 10px;
    }

label {
     padding-right: 10px;
    }
